<h3>Actividades</h3>
<ul class="list-group
">
  <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/inspeccionInicial">
    Inspección Inicial
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Inspección Intermedia
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Inspección Final
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Inspección de Validación
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Inspección de Renovación
  </li>
</ul>
