<h2>Tramites</h2>
<ul class="list-group
">
  <li class="list-group-item d-flex justify-content-between align-items-center" routerLink="/menuEstacionServicio">
    Estaciones de Servicio de GNV
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Estaciones de Servicio de Combustibles Liquidos
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Puestos de Venta de Combustibles Liquidos
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Talleres de conversion de GNV
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    GRACO
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Planta Distribuidara de GLP
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Panta Engarrafadora de GLP
  </li>
</ul>
